@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f1f5f9;
}

* {
  padding: 0;
  margin: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
}